/* start global rules */
* {
  box-sizing: border-box;
  text-transform: capitalize;
  scroll-behavior: smooth;
}

@media (max-width: 450px) {
  * {
    font-size: 14px;
  }
}

:root {
  --main-color: #10cab7;
  --secandry-color: #2c4755;
  --text-color: #4d4c4c;
  --padding: 15px;
  --margin: 15px;
}

body {
  font-family: 'Work Sans', sans-serif;
  background-color: #fafafa;
  scroll-behavior: smooth;
}

.container {
  width: 90%;
  margin: var(--margin) auto;
  padding: var(--padding);
}

.special-header {
  font-size: 120px;
  font-weight: 800;
  color: #ebeced;
  letter-spacing: -5px;
  display: flex;
  justify-content: center;
}

@media (max-width: 768px) {
  .special-header {
    font-size: 65px;
  }
}

.special-header+p {
  font-size: 20px;
  margin-top: -35px;
  display: flex;
  justify-content: center;
  color: var(--text-color);
}

@media (max-width: 768px) {
  .special-header+p {
    font-size: 15px;
    margin-top: -20px;
  }
}

/* end global rules */

/* start header */
.header .container {
  display: flex;
  justify-content: space-between;
  height: 60px;
  padding: var(--padding);
}

.logo {
  width: 80px;
  height: 30px;
}

.links {
  position: relative;
}

.links .icon {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
  right: 10px;
  top: 10px;
}

.links .icon span {
  width: 25px;
  height: 1px;
  margin-bottom: 3px;
  border: 2px solid #000;
}

.links .icon span:nth-child(2) {
  width: 75%;
  transition: width 0.3s;
}

.icon:hover span:nth-child(2) {
  width: 100%;
}

.nav {
  width: 400px;
  height: fit-content;
  background-color: var(--secandry-color);
  color: #fff;
  margin: var(--margin);
  padding: var(--padding);
  display: none;
  position: absolute;
  right: -5px;
  top: 15px;
}

@media (max-width: 450px) {
  .nav {
    width: max-content;
  }
}

.icon:hover+.nav {
  display: block;
}

.nav:hover {
  display: block;
}

.nav ul {
  color: var(--main-color);
  font-size: 30px;
  letter-spacing: 4px;
}

.nav li {
  list-style: none;
}

.nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  width: 100%;
  margin: var(--margin);
  padding: var(--padding);
  transition: color 0.3s;
  font-size: initial;
}

.nav a:hover {
  color: var(--main-color);
}

/* end header */

/* start landing */
.landing {
  background-image: url(../images/landing.jpg);
  background-size: cover;
  width: 100%;
  height: calc(100vh - 90px);
  padding: var(--padding);
  text-align: center;
  position: relative;
  z-index: -2;
}

.landing-text {
  color: var(--secandry-color);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.landing h1 {
  color: var(--main-color);
}

.landing-text p {
  color: var(--text-color);
}

/* end landing */

/* start features */
.features .container {
  display: flex;
  justify-content: space-around;
}

@media (max-width: 768px) {

  .features .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.features .container .features-card {
  width: 260px;
  height: 250px;
  margin: var(--margin);
  padding: var(--padding);
  text-align: center;
}

@media (max-width: 768px) {

  .features .container .features-card {
    width: auto;
    margin: var(--margin);
    padding: var(--padding);
    text-align: center;
  }
}

.features .container .features-card i {
  color: var(--main-color);
  font-size: 40px;
  margin-bottom: 30px;
}

.features .container .features-card h3 {
  font-weight: 800;
}

.features .container .features-card p {
  color: var(--secandry-color);
}

/* end features */

/* start services */
.services {
  display: grid;
  grid-template-columns: 1fr auto;
  margin: var(--margin);
  height: fit-content;
  background-color: #fff;
}

.services .container {
  display: inline-grid;
  grid-template: repeat(2, 1fr) / auto 1fr auto 1fr;
  gap: 40px 1px;
}

@media (max-width:1200px) {

  .services .container {
    display: grid;
  }
}

@media (max-width: 992px) {

  .services .container {
    grid-template: repeat(4, 1fr) / auto 1fr;
  }
}

.services .container i {
  color: var(--main-color);
  font-size: 35px;
  margin: 15px;
}

@media (max-width: 450px) {
  .services .container i {
    font-size: 25px;
    margin: 10px;
  }
}

.services .image {
  position: relative;
  margin: auto 40px auto 0;
  z-index: 1;
}

@media (max-width:1200px) {

  .services .image {
    display: none;
  }
}

.services .image img {
  width: 250px;
  height: 350px;
}

.services .image::after {
  content: '';
  width: 100px;
  height: 450px;
  background-color: var(--secandry-color);
  position: absolute;
  top: -50px;
  right: -50px;
  z-index: -1;
}

/* end services */


/* start portfolio */

.portfolio .container {
  display: flex;
  justify-content: space-around;
}

@media (max-width: 768px) {
  .portfolio .container {
    flex-direction: column;
  }
}

.portfolio .container .portfolio-card {
  background-color: #fff;
  margin: var(--margin);
}

.portfolio .container .portfolio-card h3,
p {
  padding-inline: var(--padding);
}

.portfolio .container .portfolio-card .image img {
  width: 100%;
  height: auto;
}

/* end portfolio */

/* start about */
.about {
  display: flex;
  margin: var(--margin);
  padding: var(--padding);
  background-color: #fff;
  height: 500px;
}

.about .image {
  width: 250px;
  height: 350px;
  position: relative;
  z-index: 1;
  margin: auto;
}

@media (max-width: 450px) {
  .about .image {
    display: none;
  }
}

.about .image img {
  width: 100%;
  height: auto;
}

.about .image::before {
  content: '';
  width: 100px;
  height: 440px;
  background-color: #ebeced;
  position: absolute;
  top: -35px;
  left: -50px;
  z-index: -1;
}

.about .image::after {
  content: '';
  width: 100px;
  height: 250px;
  border-left: 100px solid var(--main-color);
  border-bottom: 100px solid var(--main-color);
  position: absolute;
  top: -35px;
  right: -150px;
  z-index: -1;
}

@media (max-width:1200px) {

  .about .image::before,
  .about .image::after {
    display: none;
  }
}

.about .text {
  width: 500px;
  height: fit-content;
  margin: auto;
}

.about .text .bold {
  font-weight: 800;
}

.about .text hr {
  border-top: 2px solid var(--main-color);
  width: 50%;
  margin-left: var(--margin);
}

/* end about */

/* start contact */
.contact {
  margin: var(--margin);
  padding: var(--padding);
  text-align: center;
}

.contact h1 {
  color: var(--secandry-color);
  margin: auto;
}

.contact a {
  text-decoration: none;
  color: var(--main-color);
  font-size: 2em;
  margin: auto;
}

.contact p {
  font-size: small;
}

.contact i {
  color: var(--secandry-color);
  font-size: 2em;
}

/* end contact */

/* start footer */

.footer {
  background-color: var(--secandry-color);
  padding: var(--padding);
  text-align: center;
  color: #fff;
  font-size: 20px;
}

.footer span {
  color: var(--main-color);
}

/* end footer */